@model IEnumerable<MovieMasterProject.Director>

@{
    ViewBag.Title = "Directors";
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="roundedList">
<div class="col-md-10" style="text-align:left;margin:10px;">

    
        @using (Html.BeginForm("Search", "Director"))
        {

            @Html.Editor("SearchBox")
            <input type="submit" value="Search" class="btn btn-default" />
        }
    </div>
    <div style="float:left;text-align:left;">
        <input type="button" value="Create New" class="btn btn-default" onclick="window.location.href='@Url.Action("Create","Director")' " />
</div>


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DirectorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bio)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.MessageBoardD.MessageBoardName)
                </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DirectorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bio)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.MessageBoardD.MessageBoardName)
                    </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DirectorId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DirectorId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DirectorId })
                    </td>
                </tr>
            }

        </table>
</div>