@model MovieMasterProject.Movie

@{
    ViewBag.Title = "Delete";
}

<div class="roundedCreate">
<h3>Are you sure you want to delete this movie?</h3>
<div>

    <hr />
    <dl class="dl-horizontal" >
        
        <dt style="font-size:18px;">
            
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd style="font-size:18px;">
            @Html.DisplayFor(model => model.Title)
        </dd>
            
        @*<dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.DirectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.DirectorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.GenreType)
        </dd>

       <dt>
            @Html.DisplayNameFor(model => model.MessageBoard.MessageBoardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageBoard.MessageBoardName)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:center;">
            <input type="submit" value="Delete" class="btn btn-default" />
            <input type="button" value="Back" class="btn btn-default" onclick="window.location.href='@Url.Action("Index", "Movie")" />
         
        </div>
    }
</div>
</div>