@model IEnumerable<MovieMasterProject.Movie>


@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery")
@using MovieMasterProject.Models;

<br />

<div class="row2">
    <div class="col-md-2">
        <input type="button" value="Add Movie" class="btn btn-default" onclick="window.location.href='@Url.Action("Create","Movie")' " />
    


</div>
    <div class="col-md-10" style="text-align:left"> 
        @*@using (Html.BeginForm("Search", "Movie"))
        {
            @Html.Editor("SearchBox")
            <input type="submit" value="Search" />

        }*@
        
        @using (Html.BeginForm("Search","Movie")) { 
   
        @Html.Editor("SearchBox")    
         <input type="submit" value="Search" />
        }

    </div>
</div>
<br />
<br />
<script>
    $(function () {
        $('.toggler').click(function () {
            $(this).find('div').slideToggle();
        });
    });
</script>

@foreach (var item in Model)
{
    <div class="buttonrow">
        <div class="MovieBox">
         <div style="float:left">
  <img src="~/Content/img/image1.JPG" height="100" width="75" style="padding:5px" />
          </div>
            <div class="row2">
                <table cellpadding="3" >

                    <tr>
                        <th>Title </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                    </tr>
                    <tr>
                        <th>Genre </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre.GenreType)
                        </td>
                    </tr>
                    <tr>
                        <th>Release </th>
                        <td> 
                            @Html.DisplayFor(modelItem => item.ReleaseDate, new { DataFormatString = "{0:MM/dd/yyyy}" })
                        </td>
                    </tr>
                </table>

               


                <div class="roundedBox toggler">
                    <center>User Ratings</center>
                    <div>
                    @foreach (var item2 in item.Ratings)
                    {
    <table cellpadding="13" align="center">
        <tr>
            <th>
            @Html.DisplayFor(modelItem => item2.UserName)
                </th><td>
            @Html.DisplayFor(modelItem => item2.Value)/5.00
            </td>
              
        </tr>
        
    </table>
              
                    }
                @Html.DisplayFor(modelItem => item.Rating)
                        </div>
                </div>


                @*@Html.DisplayFor(modelItem => item2._value)*@

                @*@Html.DropDownListFor(modelItem => item.MovieId, new SelectList(ViewBag.Ratings, "Value", "Text"))*@



                @*<script type="text/javascript">
            <!--
            function analyze(myButton) {
                if (myButton == 1) {
                    alert("You rated it an A");
                    //localStorage.setItem("Rating", "A");
                    //lobcation.replace(movie.Rating)
                    //document.getElementById("#edit").innerHTML = "You rated it an A!";
                    //document.cookie = "A";
                    }

                if (myButton == 2) {
                    alert("You rated it a B");
                }
                if (myButton == 3)
                {
                    alert("You rated it a C");
                }

            }
            //-->
                                    </script>

                                    <input type="radio" name="fav_movie1" value=1 onclick="analyze(this.value);" />A
                                    <input type="radio" name="fav_movie1" value=2 onclick="analyze(this.value);" />B
                                    <input type="radio" name="fav_movie1" value=3 onclick="analyze(this.value);" />C*@




                <div class="buttonrow">
                    <input type="button" value="Details" class="btn btn-xs" onclick="window.location.href='@Url.Action("Details", "Movie", new { id=item.MovieId })' " />
                    <input type="button" value="Delete" class="btn btn-xs" onclick="window.location.href='@Url.Action("Delete", "Movie", new { id=item.MovieId })' " />
                    <input type="button" value="Rate" class="btn btn-xs" onclick="window.location.href='@Url.Action("Create", "MovieRating", new { id=item.MovieId })' " />
                </div>
            </div>
    </div>
    </div>

}

<br /> 
