@model IEnumerable<MovieMasterProject.Movie>

@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery")
@using MovieMasterProject.Models;

<br />
<div class="row2">
    <div class="col-md-2">
        <input type="button" value="Add Movie" class="btn btn-default" onclick="window.location.href='@Url.Action("Create","Movie")' " />
    </div>
    <div class="col-md-10" style="text-align:left"> 
        @*@using (Html.BeginForm("Search", "Movie"))
        {
            @Html.Editor("SearchBox")
            <input type="submit" value="Search" />

        }*@
        
        @using (Html.BeginForm("Search","Movie")) { 
   
        @Html.Editor("SearchBox")    
         <input type="submit" value="Search" />
        }

    </div>
</div>
<br />
<br />

@foreach (var item in Model)
{
    <div class="buttonrow">
        <div class="MovieBox">
         <div style="float:left">
                        <img src="~/Content/img/image1.JPG" height="100" width="75" style="padding:5px" />
          </div>
            <div class="row2">
            <table cellpadding="3">

                <tr>
                    <th>Title </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
                <tr>
                    <th>Genre </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre.GenreType)
                    </td>
                </tr>
                <tr>
                    <th id="edit">Rating</th>
                    <td align="left">
                       
                        @Html.DropDownListFor(modelItem => item.MovieId, new SelectList(ViewBag.Ratings, "Value", "Text"))



                        @*<script type="text/javascript">
<!--
function analyze(myButton) {
    if (myButton == 1) {
        alert("You rated it an A");
        //localStorage.setItem("Rating", "A");
        //lobcation.replace(movie.Rating)
        //document.getElementById("#edit").innerHTML = "You rated it an A!";​
        //document.cookie = "A";
        }

	if (myButton == 2) {
	    alert("You rated it a B");
	}
	if (myButton == 3)
	{
	    alert("You rated it a C");
	}

}
//-->
                        </script>

                        <input type="radio" name="fav_movie1" value=1 onclick="analyze(this.value);" />A
                        <input type="radio" name="fav_movie1" value=2 onclick="analyze(this.value);" />B
                        <input type="radio" name="fav_movie1" value=3 onclick="analyze(this.value);" />C*@


                    </td>
                </tr>
            </table>

            <div class="buttonrow">
                <input type="button" value="Details" class="btn btn-sm" onclick="window.location.href='@Url.Action("Details", "Movie", new { id=item.MovieId })' " />
                <input type="button" value="Delete" class="btn btn-sm" onclick="window.location.href='@Url.Action("Delete", "Movie", new { id=item.MovieId })' " />
            </div>
        </div>
    </div>
    </div>

}


@*<p>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director.DirectorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageBoard.MessageBoardName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director.DirectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageBoard.MessageBoardName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MovieId }) |
                @Html.ActionLink("Details", "Details", new { id=item.MovieId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MovieId })
            </td>
        </tr>
    }

    </table>*@


