@{
    ViewBag.Title = "Home Page";
}
@using MovieMasterProject.Models;



<div class="col-lg-12">


    <div class="roundedSquare">
        <div class="containerrow">
            Movie Title in Yellow
        </div>

        <table align="center" cellpadding="20" style="text-align:center">
            <tr>
                <td>
                    <h4>Release Date</h4>
                </td>
                <td>
                    <h4>Genre</h4>
                </td>
                <td>
                    <h4>Running Time</h4>
                </td>
                <td>
                    <h4>Total Rating</h4>
                </td>
            </tr>
            </table>

        <br />
        This is some more information.  More info here.
        <br />



        <div class="trailerbox">
            Picture box, picture box, picture boxPicture box, picture boxPicture box, picture boxPicture box, picture boxPicture box, picture box
        </div>
        <div class="trailerbox">
            Link here please Link here pleaseLink here pleaseLink here pleaseLink here pleaseLink here pleaseLink here pleaseLink here please
        </div>
        <div class="trailerbox">
            What is this
        </div>
        <div class="trailerbox">
            Picture box, picture box
        </div>



        <div class="roundedBox">
            <h4>Summary </h4>
            @Html.Truncate("This is truncated.  This is truncated. This is truncated.  This is truncated.This is truncated.  This is truncated.",55)
        </div>
        <div class="roundedBox">
            <h4>Reviews</h4>
            Review 1 - @Html.Truncate("Review Review Review Review Review Review Review Review Review",55)<br />
            Review 2 - @Html.Truncate("Review Review Review Review Review Review Review",55)
        </div>
        <div class="roundedBox">
            <h4>Comments</h4>
            Comment 1 - @Html.Truncate("Comment Comment Comment Comment Comment",55)<br /> 
            Comment 2 - @Html.Truncate("Comment Comment Comment Comment Comment",55) 
        </div>
        <div class="buttonrow">
            <input type="button" value="Button1" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Movie")' " />
            <input type="button" value="Button2" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Home")' " />
            <input type="button" value="Button3" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Home")' " />
            <input type="button" value="Button4" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Home")' " />
        </div>
    </div>

</div>