@model IEnumerable<MovieMasterProject.Actor>

@{
    ViewBag.Title = "Index";
}


@*<p>
    @Html.ActionLink("Create New", "Create","Actors")
</p>*@


<div class="roundedList">
    <div class="col-md-10" style="text-align:left;margin:10px;">


        @using (Html.BeginForm("Search", "Actors"))
        {

            @Html.Editor("SearchBox")
            <input type="submit" value="Search" />
        }
    </div>
    <div style="float:left;text-align:left;">
        <input type="button" value="Create New" class="btn btn-default" onclick="window.location.href='@Url.Action("Create","Director")' " />
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MessageBoardA.MessageBoardName)
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.MessageBoardA.MessageBoardName)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ActorId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ActorId })
                </td>
            </tr>
        }

    </table>
</div>